.truncate {
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar label {
  font-variant: all-petite-caps;
}

@media (min-width: 576px) {
  .sidebar {
    background: #eee;
    border-right: 1px solid #ddd;
  }
}
