.truncate {
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar label {
  font-variant: all-petite-caps;
}

@media (min-width: 576px) {
  .sidebar {
    background: #eee;
    border-right: 1px solid #ddd;
  }
}

.update {
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #333;
  display: inline-block;
}

.node {
  fill: #51aae8;
  stroke: #fff;
  cursor: pointer;
}

.link {
  stroke: #51aae8;
}

