.truncate {
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
  .sidebar {
    background: #eee;
    border-right: 1px solid #ddd;
    position: fixed !important;
    height: 100%;
  }
}
